@{
    ViewData["Title"] = "Home Page";
}

<div class="welcome-body">
    <div class="welcome">
            <h1>WELCOME TO TICKET SYSTEM</h1>
    </div>
        <ul class="navbar-nav">
                <li class="login-register">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                </li>
                <li class="login-register">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                </li>
        </ul>
</div>